/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #322834;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #fbd761;
}
.cookieImage {
  height: 20vh;
  width: 30vh;
  border: 8px solid violet;
  border-radius: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
}

.page-bg {
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}

.header-image-style {
  background-image: url("./header.jpeg");

  height: 300px;
  width: auto;
  opacity: 0.9;
}

.transparent-0 {
  background-color: rgba(245, 245, 245, 0) !important;
}

.transparent-40 {
  background-color: rgba(245, 245, 245, 0.7) !important;
}

.header-text {
  color: aliceblue;
  margin-bottom: 108px;
  border-radius: 0%;
}

.myClass ul > li > a {
    background-color: gray;
    color: white;
} */

.header {
  text-align: center;
}

.page-bg {
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}

.header-image-style {
  /* background-color: rgb(78,46,130); */
  background-image: url("./header.jpeg");
  /* margin-bottom: 100px; */
  height: 300px;
  width: auto;
  opacity: 0.9;
  /* background-repeat: no-repeat; */
  /* box-shadow: 5px 5px 2px 0px rgba(143,44,50); */
}

.transparent-0 {
  background-color: rgba(245, 245, 245, 0) !important;
}

.transparent-40 {
  background-color: rgba(245, 245, 245, 0.7) !important;
}

.header-text {
  color: aliceblue;
  margin-bottom: 108px;
  border-radius: 0%;
}

.myClass ul > li > a {
    background-color: gray;
    color: white;
}
